body {
	background: url(https://heavyeditorial.files.wordpress.com/2017/02/istock-505965144.jpg?quality=65&strip=all&strip=all);
	background-size: cover;
	background-position: center-center;
	font-family:  'Lemonada' , cursive;
#content {
	text-align: center;
	padding: 25%;
}

h1 {
	color: white;
}

h3 {
	color: white;
}